@font-face {
    font-family: 'sourcesanspro_light';
    src: url('../fonts/sourcesanspro_light.eot');
    src: url('../fonts/sourcesanspro_light.eot') format('embedded-opentype'),
         url('../fonts/sourcesanspro_light.woff2') format('woff2'),
         url('../fonts/sourcesanspro_light.woff') format('woff'),
         url('../fonts/sourcesanspro_light.ttf') format('truetype'),
         url('../fonts/sourcesanspro_light.svg#sourcesanspro_light') format('svg');
}